doctype html
html
  head
    title Cynthia Corio-Poli, Design
    link(rel="stylesheet" href="css/styles.css")
    script(src="js/jquery.min.js")
    script(src="js/script.js")
  body.home
    - var c = "collections"
    - var a = "about"
    nav
      ul.menu
        li.active
          a(href="/") HOME
        li
          a(href="/#{c}") COLLECTIONS
          ul.submenu
            li: a(href="/#{c}/rings.html") RINGS
            li: a(href="/#{c}/accessories.html") ACCESSORIES
            li: a(href="/#{c}/art.html") ART OBJECTS
        li
          a(href="/#{a}") ABOUT
          ul.submenu
            li: a(href="/#{a}") ME
            li: a(href="/#{a}/techniques.html") TECHNIQUES
        li
          a(href="/contact.html") CONTACT
    
    header
      h1 CYNTHIA CORIO - POLI
      p DESIGN
    
    main
    
    footer
      p &copy; CYNTHIA CORIO-POLI, 2016
    